<header>
    <div class="container">
        <a href="" class="logo">
            <img src="./assets/img/logo.svg" alt="">
        </a>
        <nav>
            <a class="nav-item" routerLink="/home" routerLinkActive="activebutton">Home</a>
            <!-- <a href="" class="nav-item">Borrow</a>
            <a href="" class="nav-item">Earn</a> -->
            <a routerLink="/faq" class="nav-item" routerLinkActive="activebutton">FAQs</a>
            <a class="nav-item" routerLink="/about" routerLinkActive="activebutton">About</a>
            <a href="" class="cta-item">Get started</a>
        </nav>
    </div>
</header>
