
<section class="intro">
<div class="container">
    <div class="vert-text">
        <div class="vert-text__inner">
            <span class="vert-text__word">Parallel</span>
        </div>
    </div>
    <img class="phone" src="./assets/img/phone.svg" alt="">
    <img class="mimo_bg" src="./assets/img/mimo_bg.svg" alt="">
    <svg class="down_arrow" width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="3.67769" y1="24.6066" x2="31.962" y2="52.8909" stroke="white" stroke-width="10"/>
        <line x1="52.9619" y1="24.6777" x2="24.6777" y2="52.962" stroke="white" stroke-width="10"/>
        <line x1="29.1422" y1="6.14218" x2="29.1422" y2="46.1422" stroke="white" stroke-width="10"/>
    </svg>
    <div class="intro-text">
    <h1>
        Parallel, <br>
        A decentralized Stable Token <br>
        On the Ethereum Blockchain.
    </h1>
    </div>
    <div class="intro-footer">
        <span class="left">BANKING, CRYPTO, LEDGER</span> 
        <span class="middle">Made in Singapoure</span>
        <span class="right">019 – 2020 © Mimo Bank</span>
    </div>
</div>
</section>

<section class="section-1">
<div class="container">
    <div class="section-header">

        <div class="column col-3">
            <span class="number">1</span>
        </div>

        <div class="column col-7">
            <div class="column col-10">
                <h3>Mimo Token: PAR</h3>
                <div class="column col-5">
                    <p>
                        PAR tokens are decentralized, collateral-backed synthetic assets pegged to fiat currencies. 
                    </p>
                </div>
                <div class="column col-5">
                    <p class="m_left">
                    The Mimo protocol currently offers the PAR stable token, which is pegged to the euro.
                    </p>
                </div>
            </div>
            <div class="section-carousel">
                <img src="./assets/img/carousel_bg.png" alt="">
            </div>
        </div>
    </div>
</div>
</section>

<section class="download">
<img src="./assets/img/dl_bg.png" alt="">
<div class="download-content">
    <h2>High-Yield Rates At Zero Effort</h2>
    <a href="">
    Download Mimo
    </a>
</div>
</section>

<section class="section-2">
<div class="container">
    <div class="section-header">

        <div class="column col-3">
            <span class="number">2</span>
        </div>

        <div class="column col-7">
            <mat-accordion>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>World first decentralized EUR stable token</h3>
                        <span class="icon"></span>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>An alternative in today’s stablecoin market, which is dominated exclusively by USD denominated stablecoins.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>High-yield rates in insured vaults / Decentralized safety reserve                         </h3>
                        <span class="icon"></span>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>An alternative in today’s stablecoin market, which is dominated exclusively by USD denominated stablecoins.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>Borrow at competitive rates for max exposure</h3>
                        <span class="icon"></span>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>An alternative in today’s stablecoin market, which is dominated exclusively by USD denominated stablecoins.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>Automated Market Maker (AMM) pools                        </h3>
                        <span class="icon"></span>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>An alternative in today’s stablecoin market, which is dominated exclusively by USD denominated stablecoins.</p>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3>World first decentralized EUR stable token</h3>
                        <span class="icon"></span>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>An alternative in today’s stablecoin market, which is dominated exclusively by USD denominated stablecoins.</p>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </div>
    
</div>
</section>

<section class="resume">
    <img src="./assets/img/resume.png" alt="">
</section>

<app-footer></app-footer>