<div class="container mobile-menu-container">
    <a href="" class="logo">
        <img src="./assets/img/logo.svg" alt="">
    </a>
    <div class="menu-trigger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav>
        <a href="">Home</a>
        <a href="">Borrow</a>
        <a href="">Earn</a>
        <a href="">FAQs</a>
        <a href="">About</a>
        <a href="" class="cta-item">Get started</a>
    </nav>
    <div class="intro-footer">
        <span class="left">BANKING, CRYPTO, LEDGER</span> 
        <span class="middle">Made in Singapoure</span>
        <span class="right">019 – 2020 © Mimo Bank</span>
    </div>
    <svg class="skew_arrow" width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="3.67769" y1="24.6066" x2="31.962" y2="52.8909" stroke="white" stroke-width="10"/>
        <line x1="52.9619" y1="24.6777" x2="24.6777" y2="52.962" stroke="white" stroke-width="10"/>
        <line x1="29.1422" y1="6.14218" x2="29.1422" y2="46.1422" stroke="white" stroke-width="10"/>
    </svg>
</div>
